@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-dark-light: rgb(80, 81, 79);
    --primary-dark: rgb(39, 45, 45);
    --primary-white: rgb(246, 248, 255);
    --primary-green: rgb(35, 206, 107);
    --primary-purple: rgb(168, 70, 160);
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
   
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-left: 1rem;
}

.hero {
    min-height: 100vh;
    padding: 2rem 3rem 0 3rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.979)), url(/images/steven-kamenar-MMJx78V7xS8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.hero h2 {
    font-weight: 600;
}

.hero-text {
    
}