@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-white);
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

:root {
    --primary-dark-light: rgb(80, 81, 79);
    --primary-dark: rgb(39, 45, 45);
    --primary-white: rgb(246, 248, 255);
    --primary-green: rgb(35, 206, 107);
    --primary-purple: rgb(168, 70, 160);
}

header {
    min-height: 100vh;
    padding: 2rem 3rem 0 3rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.39), rgb(0, 0, 0)), url(/images/steven-kamenar-MMJx78V7xS8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: var(--primary-white);
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav h2 {
    font-size: 1.8rem;
}

span {
    color: var(--primary-green);
}

nav a {
    text-decoration: none;
    color: var(--primary-white);
    margin-right: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all ease-in-out .2s;
}

nav a:hover {
    color: var(--primary-green);
}

.about-me {
    min-height: 100vh;
    display: flex;
    background-color: var(--primary-dark);    
}

.about-text {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    padding-left: 3rem;
}

.about-text p {
    max-width: 80%;
    line-height: 1.5;
    margin-top: 1rem;
}

.about-pic {
    flex: 1;
    background-image: url(/images/frantzou-fleurine-RTZ_u7LiEfg-unsplash.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem;
}


.btn {
    padding: .5rem 2rem;
    border: none;
    background-color: var(--primary-green);
    font-size: 1rem;
    margin-top: 1rem;
}

.text {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}

.text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.text h4 {
    letter-spacing: 2px;
}

.text p {
    margin-top: .5rem;
    letter-spacing: 1px;
}


.info {
    height: 100vh;
    background-color: var(--primary-dark-light);
    display: flex;

}

.info-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.info-pic {
    flex: 1;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-container {
    background-image: url(images/alex-robinson-AGr13YPOPqw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 90%;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 0px 1px rgba(35,206,107,1);
-webkit-box-shadow: 10px 10px 0px 1px rgba(35,206,107,1);
-moz-box-shadow: 10px 10px 0px 1px rgba(35,206,107,1);
}

.projects {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.815)), url(/images/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg);
}

.card {
    width: 320px;
    height: 450px;
    position: relative;
    transform-style: preserve-3d;
    
}

.card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition:  1s ease-in-out;
    transform: perspective(900px) rotateY(0deg);
}


.card .face.front {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.582), rgba(255, 255, 255, 0.527));
    display: flex;
    flex-direction: column;
}

.top {
    min-height: 75%;
    background-position: center;
    border-radius: 0 0 3px 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: crimson;
}


.top.one {
    background-image: url(/images/nadi-whatisdelirium-fZ8uf_L52wg-unsplash.jpg);

}

.top.two {
    background-image: url(/images/afeeq-nadzrin-RR1Jb8Vjoh8-unsplash.jpg);
}

.top.three {
    background-image: url(/images/fathul-abrar-T-qI_MI2EMA-unsplash.jpg);
}

.bottom {
    max-height: 25%;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom p {
    font-size: 1.5rem;
    color: var(--primary-dark);
    margin-top: 2rem;
}


.top.one {
    max-height: 50%;
    background-position: center;
    border-radius: 0 0 3px 3px;
    background-color: crimson;
    background-size: cover;
    background-repeat: no-repeat;

}


.card:hover .face.front {
    transform: perspective(900px) rotateY(180deg);
}


.card .face.back {
    background-image: linear-gradient(to right bottom, rgb(146, 206, 35), rgb(35, 206, 107));
    color: var(--primary-dark);
    transform: perspective(900px) rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card:hover .face.back {
    transform: perspective(900px) rotateY(360deg);
} 


.card .face.back a {
    text-decoration: none;
    margin-top: 1rem;
    background-color: var(--primary-dark);
    color: white;
    padding: .5rem 1rem;
}


.tray {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 1rem;
    border-radius: 3px;  
}

footer {
    min-height: 20vh;
    background-color: rgb(32, 32, 32);
    color: white;
    margin-top: -1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    font-weight: 400;
}

input {
    background-color: rgb(32, 32, 32);
    border: 1px solid white;
    color: white;
    padding: 3px;    
}

.contact {
    display: flex;
    gap: 2rem;
}

.icon {
    width: 1rem;
    height: auto;
    filter: invert(1);
}

.submit {
    border: none;
    padding: 4px 8px;
    background-color: var(--primary-green);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1.5rem;
    padding: 2rem;
}

.social {
    transition: all ease-in-out .2s;
}


.social:hover {
    transform: scale(1.2);
}

.social img {
    height: 2rem;
    width: 2rem;
    filter: invert(1);
}

