@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-white);
}

:root {
    --primary-dark-light: rgb(80, 81, 79);
    --primary-dark: rgb(39, 45, 45);
    --primary-white: rgb(246, 248, 255);
    --primary-green: rgb(35, 206, 107);
    --primary-purple: rgb(168, 70, 160);
}

header {
    min-height: 100vh;
    padding: 2rem 3rem 0 3rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.39), rgb(0, 0, 0)), url(/images/steven-kamenar-MMJx78V7xS8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: var(--primary-white);
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav span {
    color: var(--primary-green);
}

nav a {
    text-decoration: none;
    color: var(--primary-white);
    margin-right: 2rem;
}

.about-me {
    min-height: 100vh;
    display: flex;
    background-color: var(--primary-dark);    
}

.about-text {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    padding-left: 3rem;
}

.about-text p {
    max-width: 80%;
    line-height: 1.5;
    margin-top: 1rem;
}

.about-pic {
    flex: 1;
    background-image: url(/images/frantzou-fleurine-RTZ_u7LiEfg-unsplash.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2rem;
}


.btn {
    padding: .5rem 2rem;
    border: none;
    background-color: var(--primary-green);
    font-size: 1rem;
    margin-top: 1rem;
}

.text {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}

.text h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.text h4 {
    letter-spacing: 2px;
}

.text p {
    margin-top: .5rem;
    letter-spacing: 1px;
}

.projects {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.712)), url(/images/nathan-da-silva-k-rKfqSm4L4-unsplash.jpg);
}

